@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	scroll-behavior: smooth;
  }
  
body{
    background-image: url('../hero-accent.svg');
    background-repeat: no-repeat;
	background-size: 800px;
	background-position: 90% -25%;
}

@media(max-width: 576px){
	body{
		background-position: 50px -50px;
		background-size: 500px;
	}
}